files/flows.json
[
    {
        "id": "e0d8cc67bec392e5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42a0430dcd622c08",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be3947d7dcfc0116",
        "type": "tab",
        "label": "OMLOX 5G",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66c684e7e409b1a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.77.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "20d9d3b55c58e984",
        "type": "websocket-client",
        "path": "ws://192.168.77.13:80/deephub/v1/ws/socket",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "a79c498c89ccca18",
        "type": "comment",
        "z": "42a0430dcd622c08",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "fe0a30b9542df14f",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"test_klt_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"s1_omron\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"s3_omron\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"KLT\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1100,
        "wires": [
            [
                "173ef2da46f844f8"
            ]
        ]
    },
    {
        "id": "025e9e55464679f6",
        "type": "mqtt out",
        "z": "42a0430dcd622c08",
        "name": "",
        "topic": "out_creation",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66c684e7e409b1a5",
        "x": 2230,
        "y": 1100,
        "wires": []
    },
    {
        "id": "173ef2da46f844f8",
        "type": "json",
        "z": "42a0430dcd622c08",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2010,
        "y": 1100,
        "wires": [
            [
                "025e9e55464679f6"
            ]
        ]
    },
    {
        "id": "0b0b051dcc578b0d",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"order_as_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"station_1\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"station_2\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"Dolly\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\",\n\"vehicleId\" : \"rexroth/4d5eaffa-4b32-11e9-98ac-aacde66cbe00\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1200,
        "wires": [
            [
                "173ef2da46f844f8"
            ]
        ]
    },
    {
        "id": "f635b77047da9259",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"test_klt_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"s2_omron\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"s4_omron\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"KLT\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1140,
        "wires": [
            [
                "173ef2da46f844f8"
            ]
        ]
    },
    {
        "id": "d7f944c8fa852c30",
        "type": "json",
        "z": "42a0430dcd622c08",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "f792404a75084143"
            ]
        ]
    },
    {
        "id": "f792404a75084143",
        "type": "mqtt out",
        "z": "42a0430dcd622c08",
        "name": "",
        "topic": "out_creation",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66c684e7e409b1a5",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "273e0287319f82f2",
        "type": "inject",
        "z": "42a0430dcd622c08",
        "name": "Order_trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "805870d616a64f39"
            ]
        ]
    },
    {
        "id": "805870d616a64f39",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"order_as_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"station_1\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"station_2\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"KLT\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "d7f944c8fa852c30"
            ]
        ]
    },
    {
        "id": "4423985898d8ddd2",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"order_as_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"station_3\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"station_6\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"KLT\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "d7f944c8fa852c30"
            ]
        ]
    },
    {
        "id": "ba5d72e3f58b0cd6",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"order_as_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"station_2\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"station_6\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"KLT\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "d7f944c8fa852c30"
            ]
        ]
    },
    {
        "id": "63a9f9a72b384bee",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"order_as_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"station_4\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"station_2\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"KLT\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "d7f944c8fa852c30"
            ]
        ]
    },
    {
        "id": "143ffb887d83f6c6",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"order_as_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"station_2\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"station_3\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"KLT\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 420,
        "wires": [
            [
                "d7f944c8fa852c30"
            ]
        ]
    },
    {
        "id": "ee73d06df626c1b7",
        "type": "function",
        "z": "42a0430dcd622c08",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\nvar date =new Date();\n\n    var data={\n\"Id\" : \"order_as_\"+ date.getTime(),\n\"MaterialNumber\" : [ \"123\" ],\n\"SourceStorage\" : {\n\"Type\" : \"SourceStorageType\",\n\"Bin\" : \"station_5\",\n\"Section\" : \"SourceStorageSection\"\n},\n\"DestinationStorage\" : {\n\"Type\" : \"DestinationStorageType\",\n\"Bin\" : \"station_1\",\n\"Section\" : \"DestinationStorageSection\"\n},\n\"StorageUnitType\" : \"KLT\",\n\"TransportOrderNumber\" : \"TransportOrderNumberValue\",\n\"PackageId\" : \"PackageIdValue\",\n\"VendorNumber\" : \"VendorNumberValue\",\n\"UnloadingPoint\" : \"UnloadingPointValue\",\n\"AdditionalInfo\" : \"AdditionalInfoValue\",\n\"orderOrigin\" : \"Manual\"\n};\n\nnode.log(typeof msg.payload);\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "d7f944c8fa852c30"
            ]
        ]
    },
    {
        "id": "d7443e9e0b38c261",
        "type": "inject",
        "z": "42a0430dcd622c08",
        "name": "Order_trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "4423985898d8ddd2"
            ]
        ]
    },
    {
        "id": "558f749c68c87ce6",
        "type": "inject",
        "z": "42a0430dcd622c08",
        "name": "Order_trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "ba5d72e3f58b0cd6"
            ]
        ]
    },
    {
        "id": "80ecb937e762dc51",
        "type": "inject",
        "z": "42a0430dcd622c08",
        "name": "Order_trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "63a9f9a72b384bee"
            ]
        ]
    },
    {
        "id": "b440934feff8ecfd",
        "type": "inject",
        "z": "42a0430dcd622c08",
        "name": "Order_trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "143ffb887d83f6c6"
            ]
        ]
    },
    {
        "id": "f440c8c77f90b031",
        "type": "inject",
        "z": "42a0430dcd622c08",
        "name": "Order_trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "ee73d06df626c1b7"
            ]
        ]
    },
    {
        "id": "31b45011e4313a4f",
        "type": "function",
        "z": "be3947d7dcfc0116",
        "name": "Create Json",
        "func": "if (msg.payload == \"OFF\"){\n}\nelse{\n\n    // a template for the omlox message\n    let omlox = {\n        event: \"message\",\n        topic: \"location_updates\",\n        subscription_id: 123,\n        payload: [\n            {\n                crs: 'local',\n                position: {\n                    type: \"Point\",\n                    coordinates: [40, 50, 0]\n                },\n                source: \"24b9dae1-c255-4df1-a12a-7e75ad512a1c\",\n                provider_type: \"uwb\",\n                provider_id: \"77:4f:34:69:27:40\",\n                timestamp_generated: \"2016-09-18T17:34:02.666Z\",\n                timestamp_sent: \"2016-09-18T17:34:02.666Z\",\n                associated: false,\n                accuracy: 10,\n                floor: 0,\n                elevation_ref: 'floor',\n                course: 0,\n                speed: 0\n            }\n        ]\n    }\n\n    // overwrite OMLOX template with 5G data - there is one MQTT topic per UE\n    omlox.payload[0].position.coordinates[0] = JSON.parse(msg.payload.pos.x)\n    omlox.payload[0].position.coordinates[1] = JSON.parse(msg.payload.pos.y)\n    //omlox.payload[0].provider_type=\"5g\"\n    //omlox.payload[0].provider_id=msg.payload.ue_id\n    omlox.payload[0].provider_id = msg.payload.ue_id\n    omlox.payload[0].timestamp_generated = msg.payload.time_generated\n    var date_now = new Date()\n    omlox.payload[0].timestamp_sent = date_now\n\n    // wrap omlox information into msg2\n    let msg2 = {\n        payload: omlox\n    }\n    //return JSON.stringify(omlox);\n    return msg2;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "f9aef8ac9045d816",
                "0ed28b6231aec620"
            ]
        ]
    },
    {
        "id": "ee65e7a00b9687d4",
        "type": "inject",
        "z": "be3947d7dcfc0116",
        "name": "Order_trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "31b45011e4313a4f"
            ]
        ]
    },
    {
        "id": "f9aef8ac9045d816",
        "type": "websocket out",
        "z": "be3947d7dcfc0116",
        "name": "",
        "server": "",
        "client": "20d9d3b55c58e984",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "39677bb1bdc71d2f",
        "type": "mqtt in",
        "z": "be3947d7dcfc0116",
        "name": "",
        "topic": "synreg/position/UE_0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "66c684e7e409b1a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "31b45011e4313a4f"
            ]
        ]
    },
    {
        "id": "0ed28b6231aec620",
        "type": "mqtt out",
        "z": "be3947d7dcfc0116",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66c684e7e409b1a5",
        "x": 1070,
        "y": 380,
        "wires": []
    },
    {
        "id": "cd67f51257b097bb",
        "type": "mqtt in",
        "z": "be3947d7dcfc0116",
        "name": "",
        "topic": "synreg/position/UE_1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "66c684e7e409b1a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "31b45011e4313a4f"
            ]
        ]
    },
    {
        "id": "ade08f29b7cb9ca4",
        "type": "mqtt in",
        "z": "be3947d7dcfc0116",
        "name": "",
        "topic": "synreg/position/UE_4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "66c684e7e409b1a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "31b45011e4313a4f"
            ]
        ]
    }
]